@import "../../../variables";

.default-toast-container {
  max-width: 200px;
  min-width: 200px;
  position: fixed;
  right: 50px;
  bottom: 0;
  opacity: 0;
  transition: bottom 800ms, opacity 800ms;
  border: 2px solid black;
  &.toast-position {
    bottom: 50px;
    opacity: 1;
  }
  padding: 10px;
  .toast-message {
    font-size: 14px;
    margin: 0;
  }
}
